@import url('reset.css');

:root {
	--base:				24px;
	--font-size-body:	14px;
	--font-size-h2:		18px;
	--font-size-h3:		15px;
	--font-family:		'Maison',system-ui,sans-serif;
	--gray:				#f9f9f9;
	--color-primary: 	rgb(160,160,160);
	--color-secondary: 	rgb(128,128,128);
}

body {
	font-family:var(--font-family);
	font-size:var(--font-size-body);
	line-height:var(--base);
	box-sizing:border-box;
	padding:0;
	margin:0;
}

h1,
h2,
h3,
h4 {
	text-transform:uppercase;
	font-weight:400;
}

h1,
h2 {
	line-height:1.2;
	margin-bottom:var(--base);
}

h1 {
	font-size:var(--base);
}

h2 {
	font-size:var(--font-size-h2);
}

h3 {
	font-size:var(--font-size-h3);
	letter-spacing:0.075rem;
	line-height:var(--base);
}

h4 {
	position:absolute;
	right:0;
	bottom:0;
	padding:2px 8px 0 8px;
	line-height:var(--base);
	background-color:var(--gray);
}

a {
	color:var(--color-primary);
}

p:not(:last-child),
section:not(:last-child) {
	margin-bottom:var(--base);
}

/* sections */

body > div {
	padding:var(--base);
	box-sizing:border-box;
	margin:0;
}

#intro > * {
	display:table;
}

#work {
	background-color:var(--gray);
	line-height:0;
}

#work > * {
	position:relative;
	display:inline-block;
	width:100%;
}

#work li {
	position:relative;
	width:100%;
	transition:opacity 600ms ease-in 500ms;
}

#work li:not(:last-of-type) {
	margin-bottom:calc(var(--base)*0.5);
}

#resume {
	white-space:nowrap;
}

#resume div {
	overflow-x:scroll;
	overflow-scrolling:touch;
}

#resume div[date-start]:before {
	padding-right:calc(var(--base)/4);
	content:attr(date-start);
	color:var(--color-secondary);
}

#resume div[date-end]:not([date-end=""]):before {
	content:attr(date-start) "-" attr(date-end);
}

/* responsive */

@media (max-width:799px) {
	h2 {
		text-align:center;
	}
}

@media (min-width:800px) {
	#intro,
	#resume {
		width:40%;
		float:right;
		clear:right;
	}
	#work {
		position:fixed;
		left:0;
		width:60%;
		height:100%;
		overflow:scroll;
		-webkit-overflow-scrolling:touch;
	}
}

@media (min-width:1200px) {
	#work section ul {
		column-count:2;
	}
}

/* print */

@media print {
	#contact,
	#work {
		display:none!important;
	}
}

/* import */

@font-face {
    font-family:'Maison';
    src:url('maison.woff2') format('woff2');
    font-weight:normal;
    font-style:normal;
}