@import url('reset.css');

:root {
	--font-size:		14px;
	--gray:				#f9f9f9;
	--base:				24px;
	--gutter:			12px;
	--font-family:		system-ui,sans-serif;
	--font-size-body:	24px;
	--font-size-h3:		15px;
	--color-primary: 	rgb(160,160,160);
	--color-secondary: 	rgb(128,128,128);
}


body {
	font-family:system-ui;
	font-size:var(--font-size);
	line-height:var(--base);
	box-sizing:border-box;
	padding:0;
	margin:0;
}

h1,
h4 {
	text-transform:uppercase;
	font-weight:400;
}

h1 {
	font-size:var(--base);
	line-height:1.2;
	margin-bottom:var(--base);
}

h2 {
	display:block;
	font-size:var(--base);
	line-height:1.2;
	margin-bottom:var(--base);
}

h4 {
	position:absolute;
	right:0;
	bottom:0;
	padding:0 8px;
	font-size:12px;
	line-height:var(--base);
	background-color:var(--gray);
}

p:not(:last-child),
section:not(:last-child) {
	margin-bottom:var(--base);
}

/* sections */

body > div {
	padding:var(--base);
	box-sizing:border-box;
	margin:0;
}

#work {
	background-color:var(--gray);
}

#work div {
	position:relative;
	width:100%;
	transition:opacity 600ms ease-in 500ms;
}

#work div:not(:last-of-type) {
	margin-bottom:calc(var(--base)*0.5);
}

/* responsive */

@media (min-width:800px) {
/*	body > * {
		width:50%;
	}*/
	#intro,
	#resume {
		width:40%;
		float:right;
		clear:right;
	}
	#work {
		position:fixed;
		left:0;
		width:60%;
		height:100%;
		overflow:scroll;
		-webkit-overflow-scrolling:touch;
	}
	#work section {
		width:100%!important;
		float:none!important;
	}
}

@media (min-width:1200px) {
	#work section ul {
		column-count:2;
		/*column-gap:var(--base);*/
	}
}

/* main */

body > div {
}

a {
	color:var(--color-primary);
}

a:hover {
	text-decoration:none;
}

h3 {
	display:block;
	font-size:var(--font-size-h3);
	letter-spacing:0.075rem;
	text-transform:uppercase;
	line-height:var(--base);
}

p:not(:last-child),
section:not(:last-child) {
	margin-bottom:var(--base);
}

nav {
	float:left;
	width:50%;
}

nav a {
	float:left;
	clear:left;
	display:block;
}

/* sections */

#intro > * {
	display:table;
}

#about {
	max-width:600px;
	opacity:0.4;
}

#work {
	line-height:0;
}

#work > * {
	position:relative;
	display:inline-block;
	width:100%;
}

#resume {
	white-space:nowrap;
}

#resume div {
	overflow-x:scroll;
	overflow-scrolling:touch;
}

#resume div[date-start]:before {
	padding-right:calc(var(--base)/4);
	content:attr(date-start);
	color:var(--color-secondary);
}

#resume div[date-end]:not([date-end=""]):before {
	content:attr(date-start) "-" attr(date-end);
}

/* responsive */


@media print {
	#contact,
	#work {
		display:none!important;
	}
}